<div class="todo-item d-flex align-items-center">
    <h5 [ngClass]="{'strike': !todo.active}" class="col">{{ todo.title }}</h5>
    <p [ngClass]="{'strike': !todo.active}" class="col">{{ todo.desc }}</p>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="todo{{i}}" (click)="onCheckboxClick(todo)" [checked]="!todo.active">
            <label class="form-check-label" for="todo{{i}}">
                Done
            </label>
      </div>
    <button class="btn btn-danger" (click)="Onclick(todo)">Delete</button>
</div>
  