<div class="container">
<div class="card" style="width: 18rem;">
    <img class="About" src="https://4.bp.blogspot.com/-TeAdCJ9bWbg/WAYPHUoaZsI/AAAAAAAAAcM/D5-34biNdNMm7LvY88pdm9mkIIiVS-QWACLcB/s1600/To-do-list.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">To-Do</h5>
      <p class="card-text">The Given Page has few To-Dos which are to be completed as soon as possible.</p>
      <a href="#" class="btn btn-primary">Proceed Further</a>
    </div>
  </div>
</div>
